::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;
}

:host{
    height: 100%;
  }

  mat-drawer{
    height: 100%;
    background: rgb(255, 169, 169);
  }

  mat-drawer-container{
    height: 100%;
  }

  mat-drawer-content{
    margin: auto;
    }

  .container{
    margin-top: 20px;
  }

  mat-drawer{
    height: 100%;

  }





