<h1 class="title-user">Informacion Producto</h1>
<div class="text-center">
  <img src="../../../assets/images.jpg" class="img-thumbnail" alt="...">
</div>
<form class="row g-3">
  <div class="col-md-12">
    <label for="inputname" class="form-label">Nombre Producto</label>
    <input type="text" class="form-control" id="inputname" disabled>
  </div>
  <div class="col-md-6">
    <label for="direction" class="form-label">Codigo Producto</label>
    <input type="text" class="form-control" id="direction" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-mobile" class="form-label">Categoria</label>
    <input type="text" class="form-control" id="input-mobile" disabled>
  </div>

  <div class="col-md-6">
    <label for="direction" class="form-label">Unidades Disponibles</label>
    <input type="text" class="form-control" id="direction" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-mobile" class="form-label">Precio de Compra</label>
    <input type="text" class="form-control" id="input-mobile" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-id" class="form-label">Precio Minimo</label>
    <input type="text" class="form-control" id="input-id" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-rol" class="form-label">Precio Maximo</label>
    <input type="text" class="form-control" id="input-rol" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-id" class="form-label">Ubicacion</label>
    <input type="text" class="form-control" id="input-id" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-rol" class="form-label">Unidades</label>
    <input type="text" class="form-control" id="input-rol" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-id" class="form-label">Ubicacion</label>
    <input type="text" class="form-control" id="input-id" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-rol" class="form-label">Unidades</label>
    <input type="text" class="form-control" id="input-rol" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-id" class="form-label">Ubicacion</label>
    <input type="text" class="form-control" id="input-id" disabled>
  </div>
  <div class="col-md-6">
    <label for="input-rol" class="form-label">Unidades</label>
    <input type="text" class="form-control" id="input-rol" disabled>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descripcion</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled></textarea>
  </div>
</form>
&nbsp;
