<h1 class="title-user">INVENTARIO</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card" routerLink="/add-product">
      <img src="../../../assets/add-product.png" class="img-fluid" alt="...">
      <div class="card-body">
        <h2 class="card-title" >AGREGAR PODRUCTO</h2>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card"routerLink="/list-product">
      <img src="../../../assets/lista.png" class="img-fluid" alt="...">
      <div class="card-body">
        <h2 class="card-title">LISTA PODRUCTO</h2>
      </div>
    </div>
  </div>

</div>
